<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="suite/bootstrap.php"
         cacheDirectory="var/phpunit"
         failOnDeprecation="true"
         failOnWarning="true"
         failOnNotice="true"
         failOnRisky="true"
         colors="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests/Unit</directory>
            <directory>suite</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
